.bookmark-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.no-bookmarks {
    font-size: 1rem;
    color: var(--color-gray);
    text-align: center;
    padding: 2rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.bookmark-btn.bookmarked i {
    color: var(--color-primary);
}

body.dark-mode .bookmark-title {
    color: var(--color-dark);
}

body.dark-mode .no-bookmarks {
    color: var(--color-gray);
    background: var(--color-white);
}